@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:befor, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, head, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  font-family: "Open Sans";
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5;
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}

.subtitle {
  color: #212121;
  letter-spacing: 0.75;
}

@media (min-width: 577px) {
  .subtitle {
    font-size: 22px;
    padding: 35px 80px 140px 80px;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  .subtitle {
    padding: 5% 2%;
    font-size: 16px;
    line-height: 18px;
  }
}

.button {
  padding: 20px 36px;
  margin: 0 20px 0 20px;
  border: 2px solid #00897b;
  background-color: #00897b;
  color: #fff;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.head {
  margin: 50px 0 50px 0;
}

@media (max-width: 767px) {
  .head {
    display: none;
  }
}

.head__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.head__logo {
  font-size: 25px;
  line-height: 22px;
  font-weight: 700;
}

.head__menu li {
  display: inline-block;
  margin: 0 25px 0 25px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: black;
}

.head__menu li a {
  color: black;
}

.head__menu li a:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-bottom: 2px solid black;
}

.head__menu li a:active {
  color: #8f8e8e;
  border-bottom: 2px solid #8f8e8e;
}

.webdev {
  padding: 5% 0 1% 0;
  background-image: url(../img/webdeb1.img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .webdev {
    padding: 100px 0 1% 0;
  }
}

.webdev::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.webdev__item {
  position: relative;
  padding-top: 182px;
  padding-top: 10%;
  z-index: 5;
  color: #ffffff;
}

@media (max-width: 576px) {
  .webdev__item {
    padding: 0;
  }
}

.webdev__title {
  font-size: 60px;
}

@media (max-width: 576px) {
  .webdev__title {
    font-size: 45px;
  }
}

.webdev__subtitle {
  padding: 15% 0 20% 0;
  font-size: 22px;
  color: #fff;
}

@media (max-width: 576px) {
  .webdev__subtitle {
    font-size: 18px;
  }
}

.webdev__buttons {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.webdev__servisbitton {
  border: 2px solid #fff;
}

@media (min-width: 577px) {
  .webdev__servisbitton {
    padding: 20px 36px;
    margin: 0 20px 0 20px;
  }
}

.webdev__servisbitton:hover {
  padding: 20px 36px;
  margin: 0 20px 0 20px;
  border: 2px solid #00897b;
  background-color: #00897b;
  color: #fff;
}

@media (max-width: 576px) {
  .webdev__servisbitton {
    padding: 15px 18px;
    margin: 0 3%;
  }
  .webdev__servisbitton:hover {
    padding: 15px 18px;
    margin: 0 3%;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
  }
}

.webdev__hirebutton {
  border: 2px solid #fff;
}

@media (min-width: 577px) {
  .webdev__hirebutton {
    padding: 20px 36px;
    margin: 0 20px 0 20px;
  }
  .webdev__hirebutton:hover {
    padding: 20px 36px;
    margin: 0 20px 0 20px;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .webdev__hirebutton {
    padding: 15px 18px;
    margin: 0 3%;
  }
  .webdev__hirebutton:hover {
    padding: 15px 18px;
    margin: 0 3%;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
  }
}

.webdev__swipeicon {
  margin: 10% 0 10% 0;
}

.aboutus {
  padding: 7% 0;
}

.aboutus__item {
  max-width: 1070px;
  margin: 0 auto;
}

.aboutus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus__colomn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25.333%;
          flex: 0 1 25.333%;
  margin: 0 2.83333%;
}

@media (max-width: 576px) {
  .aboutus__colomn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 70px;
  }
}

.aboutus__img {
  padding-bottom: 35px;
}

.aboutus__promo {
  padding-bottom: 20px;
  font-size: 27px;
  line-height: 36px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .aboutus__promo {
    font-size: 20px;
    line-height: 22px;
  }
}

.aboutus__txt {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .aboutus__txt {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
  }
}

.servis {
  padding: 7% 0;
  background-color: #e4fdf9;
  color: #212121;
}

.servis__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servis__colomn {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 5px 5px 5px 5px;
  padding: 45px;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
          transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
}

@media (max-width: 575px) {
  .servis__colomn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 10px 20px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .servis__colomn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}

.servis__colomn:hover {
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  background-color: #00897b;
  color: #ffffff;
}

.servis__colomn:hover .servis__button {
  background-color: #00897b;
  border: 2px solid #fff;
  color: #fff;
}

.servis__colomn:hover .servis__button:hover {
  background-color: #fff;
  color: #00897b;
}

.servis__colomn:hover .servis__button:active {
  color: red;
}

.servis__img {
  color: black;
}

.servis__promo {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 42px 0 0 0;
}

.servis__txt {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}

.servis__button {
  background-color: #fff;
  border: 2px solid #212121;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

.latestwork {
  padding: 7% 0;
}

.latestwork__menu {
  padding: 2% 4% 10% 4%;
}

@media (max-width: 575px) {
  .latestwork__menu {
    padding: 0;
  }
}

.latestwork__menu li {
  text-align: center;
  display: inline-block;
  margin: 5px 14px 5px 14px;
}

@media (max-width: 575px) {
  .latestwork__menu li {
    display: block;
    margin: 0;
  }
}

.latestwork__menu li a {
  display: block;
  color: #212121;
  padding: 25px 20px 20px 25px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  -webkit-transition-duration: 0.4s, 0.4s;
          transition-duration: 0.4s, 0.4s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.latestwork__menu li a:hover {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00897b;
  color: #fff;
}

.latestwork__menu li a:hover .latestwork__menu li a {
  background-color: #00897b;
  color: #fff;
}

.latestwork__menu li a:active {
  border: 2px solid black;
  color: black;
}

@media (max-width: 575px) {
  .latestwork__menu li a {
    width: 100%;
    border-bottom: 2px solid #00897b;
  }
}

@media (min-width: 576px) {
  .latestwork__menu li a {
    border: 2px solid #00897b;
  }
}

.latestwork__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latestwork__card {
  border: 1px solid #ccc6c6;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 13px 13px 13px 13px;
}

.latestwork__card img {
  width: 100%;
}

.latestwork__button {
  margin: 5% auto 1% auto;
}

.latestwork__button button {
  padding: 28px 62px;
  background-color: #00897b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color, border, color;
  transition-property: background-color, border, color;
}

.latestwork__button button:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #fff;
  border: 2px solid #000;
  color: black;
}

.latestwork__button button:active {
  border: 1px solid #7e7e7e;
  color: #7e7e7e;
}

.pricing {
  padding: 7% 0;
  background-color: #f0f0f0;
}

.pricing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  margin: 8px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .pricing__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

.pricing__card-item {
  padding: 0 25% 20% 25%;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .pricing__card-item {
    padding: 0 20px;
  }
}

.pricing__card-img {
  background-image: url(../img/blue_bg.png);
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 50px;
}

.pricing__card-img-title {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .pricing__card-img-title {
    font-size: 18px;
    line-height: 20px;
  }
}

.pricing__card-img-subtitle {
  font-size: 50px;
  line-height: 55px;
  padding-top: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .pricing__card-img-subtitle {
    font-size: 30px;
    line-height: 32px;
  }
}

.pricing__card-img-subtitle span {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.85px;
}

.pricing__card-list li {
  letter-spacing: 0.8;
  border-bottom: 1px solid #000000;
}

@media (min-width: 576px) {
  .pricing__card-list li {
    padding-top: 50px;
    font-size: 17px;
    line-height: 42px;
  }
}

@media (max-width: 575px) {
  .pricing__card-list li {
    padding-top: 30px;
    line-height: 40px;
  }
}

.pricing__card-list li a {
  color: #212121;
}

.pricing__card-button {
  margin-top: 60px;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  border: 2px solid #000;
  padding: 18px 33px;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
          transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
}

.pricing__card-button:hover {
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
  border: 2px solid #00897b;
  background-color: #00897b;
  color: #fff;
}

.manager {
  padding: 7% 0;
}

.manager__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manager__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  margin: 10px 13px;
}

@media (min-width: 768px) {
  .manager__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0 13px;
  }
}

.manager__img img {
  min-width: 100%;
  width: 100%;
}

.manager__txt {
  padding: 30px;
  color: #212121;
}

.manager__name {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
}

.manager__position {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.manager__list a {
  margin: 0 10px;
  padding-top: 4px;
  display: inline-block;
  background-color: #f0f1f1;
  width: 40px;
  height: 30px;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .manager__list a {
    margin: 1%;
  }
}

.block {
  padding: 7% 0;
  background-color: #e4fdf9;
}

.block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.block__img img {
  min-width: 100%;
  width: 100%;
}

.block__quis {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.block__quis-item {
  text-align: left;
}

.block__q_title {
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.block__info {
  padding: 20px 0;
}

.block__info span {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.85px;
}

.block__txt {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.block__button {
  margin: 5% auto 1% auto;
}

.block__button button {
  padding: 28px 62px;
  background-color: #fff;
  background-color: #00897b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}

.block__button button:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #e4fdf9;
  border: 2px solid #000;
  color: black;
}

.block__button button:active {
  border: 1px solid #7e7e7e;
  color: #7e7e7e;
}

.contact {
  padding: 7% 0;
  background-image: url(../img/form_icon.png);
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.contact__item {
  position: relative;
  z-index: 5;
  color: #ffffff;
}

.contact__subtitle {
  color: #fff;
}

.contact__body {
  margin: 0 auto;
  max-width: 1000px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__card {
  text-align: center;
}

@media (min-width: 576px) {
  .contact__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 575px) {
  .contact__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0;
  }
}

.contact__icon {
  margin: 0 auto;
  height: 105px;
  width: 105px;
  background-color: #3949ab;
  border-radius: 50%;
}

.contact__icon img {
  margin-top: 25px;
}

.contact__txt-info {
  margin: 20% 0;
}

@media (max-width: 575px) {
  .contact__txt-info {
    margin: 20px;
  }
}

.contact__txt-info p {
  margin-bottom: 10px;
  margin-bottom: 5%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7%;
}

.contact__input {
  display: inline-block;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.contact__input input {
  width: 100%;
  font-size: 16px;
}

.contact__input input::-webkit-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__input input:-ms-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__input input::-ms-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__input input::placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__txtarea {
  margin-top: 20px;
  padding: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  background-color: #fff;
}

.contact__txtarea textarea {
  width: 100%;
  font-size: 16px;
}

.contact__txtarea textarea::-webkit-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__txtarea textarea:-ms-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__txtarea textarea::-ms-input-placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__txtarea textarea::placeholder {
  color: #838282;
  font-weight: 700;
}

.contact__button {
  text-align: right;
  padding: 20px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact__button button {
  padding: 17px 60px;
  font-size: 16px;
  font-weight: 700;
  color: #838282;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #fff;
}

.contact__button button:hover {
  background-color: #e4dede;
  border: 3px solid #e4dede;
}

.contact__button button:active {
  border: 3px solid rgba(19, 18, 18, 0.75);
}

.footer {
  padding: 30px 0;
  color: #504e4e;
  font-weight: 700;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile::before {
  z-index: 10;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  border-bottom: 2px solid #fff;
}

.mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 20px;
}

.mobile__logo {
  color: #e4fdf9;
  z-index: 10;
  position: relative;
  width: 90px;
  height: 80px;
  font-size: 20px;
  line-height: 80px;
}

.mobile__logo img {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}

.mobile-burger {
  display: none;
}

@media (max-width: 767px) {
  .mobile-burger {
    display: block;
    position: relative;
    z-index: 11;
    width: 30px;
    height: 20px;
  }
  .mobile-burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    z-index: 11;
  }
}

.mobile-burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  z-index: 20;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  z-index: 20;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-burger::after {
  bottom: 0;
}

.mobile-burger::before {
  top: 0;
}

.mobile-burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.mobile-burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.mobile-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu {
  z-index: 5;
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707070;
  padding-top: 100px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  overflow: auto;
}

.menu.active {
  top: 0%;
}

.menu__link {
  display: block;
  font-size: 24px;
  color: #fff;
  padding: 25px;
}

.menu__link:hover {
  -webkit-transition: 0.45s ease;
  transition: 0.45s ease;
  -webkit-transition-property: background-color, -webkit-text-decoration;
  transition-property: background-color, -webkit-text-decoration;
  transition-property: text-decoration, background-color;
  transition-property: text-decoration, background-color, -webkit-text-decoration;
  color: #fff;
  text-decoration: underline;
  background-color: rgba(253, 250, 250, 0.3);
}
